*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.808), rgba(255, 255, 255, 0.39));
}

.relogio{
    display: flex;
    gap: 20px;
    text-align: center;
}

h1{
    background-color: rgba(39, 39, 39, 0.534);
    color: white;
    padding: 20px;
    border-radius: 10px;
}

p{
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    font-style: italic;
}